---
import FeaturesSection from "../components/sections/FeaturesSection.astro";
import FaqSection from "../components/sections/FaqSection.astro";
import HeroSection from "../components/sections/HeroSection.astro";
import HowItWorksSection from "../components/sections/HowItWorksSection.astro";
import PrivacySection from "../components/sections/PrivacySection.astro";
import CtaSection from "../components/sections/CtaSection.astro";
import AiShowcaseSection from "../components/sections/AiShowcaseSection.astro";
import SelectionSection from "../components/sections/SelectionSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <HeroSection />
  <div class="section-divider"></div>
  <FeaturesSection />
  <div class="section-divider"></div>
  <AiShowcaseSection />
  <div class="section-divider"></div>
  <SelectionSection />
  <div class="section-divider"></div>
  <HowItWorksSection />
  <div class="section-divider"></div>
  <PrivacySection />
  <div class="section-divider"></div>
  <FaqSection />
  <div class="section-divider"></div>
  <CtaSection />
</BaseLayout>
